# API
API_HOST=127.0.0.1
API_PORT=3072
API_AUTH_TOKEN="replace-with-a-random-token-with-at-least-32-chars"

# MongoDB timeouts
MONGODB_SERVER_SELECTION_TIMEOUT_MS=5000
MONGODB_CONNECT_TIMEOUT_MS=5000
MONGODB_SOCKET_TIMEOUT_MS=10000

# DisFlux Sync Dev
DISFLUX_SYNC_DEV_MONGODB_URI="mongodb://user:password@host:27017/disflux_sync_dev?authSource=disflux_sync_dev"

# DisFlux Sync Prod
DISFLUX_SYNC_PROD_MONGODB_URI="mongodb://user:password@host:27017/disflux_sync_prod?authSource=disflux_sync_prod"

# Ratot Discord Dev
RATOT_DISCORD_DEV_MONGODB_URI="mongodb://user:password@host:27017/ratot_discord_dev?authSource=ratot_discord_dev"

# Ratot Discord Prod
RATOT_DISCORD_PROD_MONGODB_URI="mongodb://user:password@host:27017/ratot_discord_prod?authSource=ratot_discord_prod"

# Ratot Fluxer Dev
RATOT_FLUXER_DEV_MONGODB_URI="mongodb://user:password@host:27017/ratot_fluxer_dev?authSource=ratot_fluxer_dev"

# Ratot Fluxer Prod
RATOT_FLUXER_PROD_MONGODB_URI="mongodb://user:password@host:27017/ratot_fluxer_prod?authSource=ratot_fluxer_prod"
